.app_orange_theme {
    --bg-color: #b3dee5;
    --inverted-bg-color: linear-gradient(153deg, rgb(49 82 91 / 100%) 46%, rgb(94 161 172 / 100%) 65%);
    --primary-color: #bc7302;
    --secondary-color: #744904;
    --inverted-primary-color: #fae6b1;
    --inverted-secondary-color: #95805e;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: linear-gradient(153deg, rgb(49 82 91 / 100%) 46%, rgb(94 161 172 / 100%) 65%);

    // listbox
    --listbox-bg: linear-gradient(153deg, rgb(49 82 91 / 100%) 46%, rgb(94 161 172 / 100%) 65%);
}
