.starRating {
    .hovered {
        fill: var(--primary-color);
    }
}



.normal {
    fill: none;
}
.StarIcon {
    fill: none;
    cursor: pointer;
}

.selected {
    cursor: auto;
}

//redesigned ---

.starRatingRedesigned {
    .hovered {
        fill: var(--icon-redesigned);
    }
}

